.displayNone {
  display: none;
}
.onVissible {
  opacity: 1;
}

.onPerspective {
  animation: 0.4s perspectiveOn forwards;
}

@keyframes perspectiveOn {
  100% {
    transform: rotateY(10deg) translateX(-25%) translateZ(-1800px);
  }
}

@media only screen and (max-width: 900px) {
  .h1 {
    font-size: 40px;
  }

  :root {
    --workMainWidth: 240px;
    --workWidth: 120px;
  }
}

@media only screen and (max-width: 767px) {
  .img--me {
    display: none;
  }
  .img--me--small {
    display: block;
  }
  .works__work {
    display: none;
  }
  .works__work--main {
    display: flex;
  }
}
@media only screen and (max-width: 480px) {
  .img--me--small {
    display: none;
  }
}
@media only screen and (max-height: 480px) {
  .h1 {
    font-size: 29px;
  }
}
