.displayNone {
  display: none;
}
.fadeIn {
  animation: fadeIn 0.4s ease-in-out forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  /* 50% {
    opacity: 0;
  } */
  100% {
    opacity: 1;
  }
}
.fadeOut {
  opacity: 1;
  animation: fadeOut 0.4s ease-out forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.goInRight {
  /* transform: translateX(50vw);
  opacity: 0; */
  animation: goInRight 0.2s ease-in forwards;
}
@keyframes goInRight {
  0% {
    transform: translateX(50vw);
    opacity: 0;
  }
  /* 40% {
    opacity: 0;
  } */
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.onPerspective {
  animation: 0.4s perspectiveOn forwards;
}

@keyframes perspectiveOn {
  100% {
    transform: rotateY(30deg) translateX(60vw) translateZ(-1800px);
  }
}
@media only screen and (max-width: 900px) {
  :root{
    --skillWidth: 200px;
  }
}
@media only screen and (max-width: 900px) {
  .h1 {
    font-size: 40px;
  }

  :root {
    --workMainWidth: 240px;
    --workWidth: 120px;

    --skillSize: 40px;
    --skillWidth: 150px;
    --skillHeight: 50px;
  }
}

@media only screen and (max-width: 767px) {
  .nav{
    transform: translateX(0);
  }
  .onPerspective{
    display: none;
  }
  .img--me {
    display: none;
  }
  .img--me--small {
    display: block;
  }
  .works__work {
    display: none;
  }
  .works__work--main {
    display: flex;
  }
  
}
@media only screen and (max-width: 480px) {
  .img--me--small {
    display: none;
  }
  
}

@media only screen and (max-height: 480px) {
  .h1 {
    font-size: 29px;
  }
}

@media only screen and (max-width: 320px) {
  :root {
    --skillWidth: 100px;
    --skillSize: 33px;
  }
}
@media only screen and (max-height: 320px) {
  :root {
    --workMainWidth: 200px;
  }
}
