.skills__section {
  height: 100%;
  width: 100%;
  

  /* justify-content: space-between; */
}
.skills__h3 {
  margin-top: 40px;
}
.skills__wrapper {
  width: 100%;
  max-width: 900px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;

}
.skills__skill {
  box-sizing: content-box;
  margin-top: 1%;
  width: 150px;
  width: var(--skillWidth);
  height: 100px;
  height: var(--skillHeight);

  border: 2px solid white;
  /* background-color: #fff; */
  /* text-align: center; */
  /* justify-content: sta */

}
.skills__skill--node, .skills__skill--node > .skills__star--half::after{
  /* background-color: var(--nodeColor); */
  animation: nodeC var(--skillTime) var(--skillBezier) infinite;
}
@keyframes nodeC {
0%{
    background-color: var(--nodeColor);
  }
  6%{
    background-color: black;

  }
  100%{
    background-color: black;
  }
}
.skills__skill--js, .skills__skill--js > .skills__star--half::after{
  animation: jsC var(--skillTime) var(--skillBezier) infinite;
}
@keyframes jsC {
  0%{
    background-color: black;

  }
5%{
    background-color: var(--jsColor);
  }
  11%{
    background-color: black;

  }
  100%{
    background-color: black;
  }
}
.skills__skill--db, .skills__skill--db > .skills__star--half::after{
  animation: dbC var(--skillTime) var(--skillBezier) infinite;
}
@keyframes dbC {
  0%{
    background-color: black;

  }
10%{
    background-color: var(--dbColor);
  }
  16%{
    background-color: black;

  }
  100%{
    background-color: black;
  }
}

.skills__skill--react, .skills__skill--react > .skills__star--half::after{
  animation: reactC var(--skillTime) var(--skillBezier) infinite;
}
@keyframes reactC {
  0%{
    background-color: black;

  }
33%{
    background-color: var(--reactColor);
  }
  39%{
    background-color: black;

  }
  100%{
    background-color: black;
  }
}
.skills__skill--html, .skills__skill--html > .skills__star--half::after{
  animation: htmlC var(--skillTime) var(--skillBezier) infinite;
}
@keyframes htmlC {
  0%{
    background-color: black;

  }
38%{
    background-color: var(--htmlColor);
  }
  44%{
    background-color: black;

  }
  100%{
    background-color: black;
  }
}
.skills__skill--css, .skills__skill--css > .skills__star--half::after{
  animation: cssC var(--skillTime) var(--skillBezier) infinite;
}
@keyframes cssC {
  0%{
    background-color: black;

  }
43%{
    background-color: var(--cssColor);
  }
  49%{
    background-color: black;

  }
  100%{
    background-color: black;
  }
}

.skills__skill--npm, .skills__skill--npm > .skills__star--half::after{
  animation: npmC var(--skillTime) var(--skillBezier) infinite;
}
@keyframes npmC {
  0%{
    background-color: black;

  }
66%{
    background-color: var(--npmColor);
  }
  72%{
    background-color: black;

  }
  100%{
    background-color: black;
  }
}
.skills__skill--gulp, .skills__skill--gulp > .skills__star--half::after{
  animation: gulpC var(--skillTime) var(--skillBezier) infinite;
}
@keyframes gulpC {
  0%{
    background-color: black;

  }
71%{
    background-color: var(--gulpColor);
  }
  77%{
    background-color: black;

  }
  100%{
    background-color: black;
  }
}
.skills__skill--git, .skills__skill--git > .skills__star--half::after{
  animation: gitC var(--skillTime) var(--skillBezier) infinite;
}
@keyframes gitC {
  0%{
    background-color: black;

  }
76%{
    background-color: var(--gitColor);
  }
  82%{
    background-color: black;

  }
  100%{
    background-color: black;
  }
}

.skills__ico {
  font-size: 50px;
  font-size: var(--skillSize);
/* text-align: center; */
}
.skills__star {
  position: relative;

  font-size: calc(var(--skillSize )/ 2);
  background: -webkit-linear-gradient(top, #8f6b29, #fde08d, #df9f28);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skills__star--half {
  position: relative;
  font-size: calc(var(--skillSize )/ 2);
  background: -webkit-linear-gradient(top, #8f6b29, #fde08d, #df9f28);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.skills__star--half::after {
  content: "";
  position: absolute;
  right:0;
  top:0;
  bottom: 0;
  height: 100%;
  width: 50%;
  background-color: #000;
}