.skills__section {
  height: 100%;
  width: 100%;

  /* justify-content: space-between; */
}
.skills__h3 {
  margin: none;
}
.skills__wrapper {
  flex-wrap: wrap;
  width: 100%;
  max-width: 900px;
  justify-content: space-around;
  align-items: center;
}
.skills__skill {
  box-sizing: content-box;
  margin-top: 1%;
  width: 100px;
  /* height: 50px; */
  /* border: 2px solid white; */
  /* background-color: #fff; */
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills__ico {
  font-size: 50px;
}
.skills__star {
  font-size: 25px;
  background: -webkit-linear-gradient(top, #8f6b29, #fde08d, #df9f28);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
