/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

button,
a {
  display: block;
  cursor: pointer;
  border: none;
  text-decoration: none;
  color: white;
}
ul,
ol {
  list-style: none;
}

/* VARIABLES */
:root {
  /* colors */
  --gray: #282828;
  --blue: #0f33ff;
  /* start */
  --wrapperWidth: 90%;

  /* header */
  --h1Size: 4em;

  /* works */
  --workMainWidth: 300px;
  --workWidth: calc(var(--workMainWidth) / 2);

  /* skills  */
  --skillSize: 50px;
  --skillWidth: 250px;
  --skillHeight: 100px;
  /* skills colors */
  --nodeColor: #3C873A;
  --jsColor: #F0DB4F;
  --dbColor: #4DB33D;

  --reactColor: #61DBFB;
  --htmlColor: #e34c26;
  --cssColor: #264de4;

  --npmColor: #cb3837;
  --gulpColor: #d34a47;
  --gitColor: #F4CBB2;
  /* skills animation */
  --skillTime: 9s;
  --skillBezier: ease-in-out;
}

::-webkit-scrollbar{
  background-color: #000;
}
::-webkit-scrollbar-thumb{
  background-color: var(--blue);
  border-radius: 15px;
}
::-webkit-scrollbar-corner{
  background-color: #000;
}

/* CONST CLASSES */
.flexCol {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.wrapper {
  position: relative;
  width: 90%;
  width: var(--wrapperWidth);
  height: 100%;
}

/* for all */
body {
  background-color: #000;
  color: white;
  perspective: 1000px;
}
.wrapper--perspective {
  height: 100vh;
  width: 100%;
  outline: 30px solid #0f33ff;
  animation: 0.4s perspectiveOff forwards;
  overflow: hidden;
}

.noneTransition {
  animation: none;
}

@keyframes perspectiveOff {
  0% {
    transform: rotateY(30deg) translateX(60vw) translateZ(-1800px);
  }
  100% {
    transform: none;
  }
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.75);
  pointer-events: none;
}

.header {
  position: absolute;
  top: 0;
  left: 5%;
  height: 70px;
  width: 90%;
  width: var(--wrapperWidth);
  justify-content: space-between;
  z-index: 999;
}

.logo__p {
  margin: 0 0 0 10px;
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
  color: white;
}

.header__button {
  opacity: 0;
  height: 30px;
  background-color: #0f33ff;

  padding: 0 20px;
  line-height: 30px;

  color: white;
  text-transform: uppercase;
  font: 800 13px "Montserrat", sans-serif;
}

.header__hamb {
  width: 50px;
  height: 50px;
  cursor: pointer;
  justify-content: center;
}

.hamb__span {
  display: block;
  background-color: white;
  width: 23px;
  height: 2px;
}
.hamb__span--second {
  width: 16px;
  margin: 5px 0px;
}

.nav {
  height: 100%;
  width: 35%;
  min-width: 300px;

  color: white;
  font-size: 55px;
  font-weight: 900;
  /* transform-style: preserve-3d; */
  white-space: nowrap;
  text-transform: capitalize;
  text-align: center;

  transform: translateX(-50%);
}

.nav__link {
  position: relative;
  line-height: 20vh;
  width: auto;
  /* animation: goInRight 0.2s ease-in forwards; */
}

.onMark {
}
.onMark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 15px;
  background-color: #0f33ff;
}
